Repository rwpod/rwpod.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: '*.{rb,rake}'
      run: bundle exec rubocop -c ./.rubocop.yml {staged_files}
    eslint:
      glob: '*.{js,jsx}'
      run: ./node_modules/.bin/eslint {staged_files}
    bundle-check:
      files: git diff --name-only HEAD master
      glob: '{Gemfile,Gemfile.lock,*.gemspec}'
      run: bundle check

release
  source/posts/2021/03-22-podcast-09-11.html.md
Due: none

update css
  webpack/css/objects/article.sass
Due: none

we are not PWA
  source/images/favicons/launcher-icon-192x192.png
  source/images/favicons/launcher-icon-512x512.png
  source/images/favicons/maskable_icon.png
  source/layouts/layout.html.erb
  source/manifest.json
Due: none

Start add Turbo
  lib/rwpod_helpers.rb
  package.json
  source/layouts/layout.html.erb
  source/partials/_article_comments.html.erb
  source/partials/_footer_audio_player.html.erb
  source/partials/_header_bar.html.erb
  source/partials/_sw_notification.html.erb
  webpack.config.js
  webpack/app.js
  webpack/audio.js
  webpack/controllers/disqus_controller.js
  webpack/controllers/navigation_controller.js
  webpack/disqus.js
  webpack/hotwire.js
  webpack/htmlOverWire.js
  webpack/navigation.js
  yarn.lock
Due: rubocop, eslint

back to turbolinks
  lib/rwpod_helpers.rb
  package.json
  source/layouts/layout.html.erb
  source/partials/_footer_audio_player.html.erb
  source/partials/_sw_notification.html.erb
  webpack/app.js
  webpack/controllers/disqus_controller.js
  webpack/controllers/navigation_controller.js
  webpack/hotwire.js
  yarn.lock
Due: rubocop, eslint

use stimulus
  source/partials/_sw_notification.html.erb
  webpack/app.js
  webpack/audio.js
  webpack/controllers/audio_controller.js
  webpack/controllers/service_worker_controller.js
  webpack/swWindow.js
Due: eslint

remove amplitudejs
  package.json
  yarn.lock
Due: none

cleanup
  package.json
  yarn.lock
Due: none

news
  Gemfile.lock
  lib/tasks/svg_sprite.rake
  package.json
  source/images/static/09/0912.png
  source/posts/2021/03-29-podcast-09-12.html.md
  yarn.lock
Due: rubocop

release
  source/posts/2021/03-29-podcast-09-12.html.md
Due: none

add search
  source/layouts/layout.html.erb
  source/partials/_sidebar.html.erb
Due: none

add search
  source/layouts/layout.html.erb
Due: none

fix search
  package.json
  source/layouts/layout.html.erb
  source/partials/_sidebar.html.erb
  webpack/controllers/audio_controller.js
  webpack/controllers/disqus_controller.js
  webpack/controllers/navigation_controller.js
  webpack/controllers/search_controller.js
  webpack/controllers/service_worker_controller.js
  webpack/utils/eventBus.js
  yarn.lock
Due: eslint

fix search
  source/partials/_sidebar.html.erb
  webpack/controllers/search_controller.js
Due: eslint

add search on website
  Gemfile.lock
  config.rb
  lib/svg/svg_icons/search.svg
  package.json
  source/api/search-index.json.erb
  source/partials/_sidebar.html.erb
  source/svg/sprite.svg
  webpack.config.js
  webpack/controllers/search_controller.js
  webpack/css/app.sass
  webpack/css/components/layout.sass
  webpack/css/objects/search_box.sass
  yarn.lock
Due: rubocop, eslint

add search on website
  source/partials/_search_block.html.erb
  source/partials/_sidebar.html.erb
  webpack/controllers/search_controller.js
Due: eslint

add search on website
  source/partials/_search_block.html.erb
  source/partials/_sidebar.html.erb
  webpack/css/objects/search_box.sass
Due: none

release
  source/images/static/cafe/020.png
  source/posts/2021/04-03-cafe-020.html.md
Due: none
