Repository rwpod/rwpod.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: '*.{rb,rake}'
      run: bundle exec rubocop -c ./.rubocop.yml {staged_files}
    eslint:
      glob: '*.{js,jsx}'
      run: ./node_modules/.bin/eslint {staged_files}
    bundle-check:
      files: git diff --name-only HEAD master
      glob: '{Gemfile,Gemfile.lock,*.gemspec}'
      run: bundle check

cafe
  source/images/static/cafe/027.png
  source/posts/2021/12-04-cafe-027.html.md
Due: none

update packages
  Gemfile.lock
  package.json
  yarn.lock
Due: none

news
  source/images/static/09/0947.png
  source/posts/2021/12-06-podcast-09-47.html.md
Due: none

news
  source/posts/2021/12-06-podcast-09-47.html.md
Due: none

images
  source/images/static/09/0947.png
  source/posts/2021/12-06-podcast-09-47.html.md
Due: none

packages
  Gemfile.lock
  package.json
  yarn.lock
Due: none

release
  source/posts/2021/12-06-podcast-09-47.html.md
Due: none

package update
  Gemfile.lock
  package.json
  yarn.lock
Due: none

news
  Gemfile.lock
  package.json
  source/images/static/09/0948.png
  source/posts/2021/12-13-podcast-09-48.html.md
  webpack/controllers/search_controller.js
  webpack/utils/flexsearchEngine.js
  yarn.lock
Due: eslint

release
  source/posts/2021/12-13-podcast-09-48.html.md
Due: none

news
  Gemfile.lock
  package.json
  yarn.lock
Due: none

news
  source/images/static/09/0949.png
  source/posts/2021/12-20-podcast-09-49.html.md
Due: none

release
  source/posts/2021/12-20-podcast-09-49.html.md
Due: none

update
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: none

news
  source/images/static/09/0950.png
  source/posts/2021/12-27-podcast-09-50.html.md
Due: none

Update test deps
  Gemfile
  Gemfile.lock
  source/api/podcasts.json.erb
  source/feeds/archive.xml.builder
  source/feeds/rss.xml.builder
  source/feeds/rss_aac.xml.builder
  source/layouts/rss.xml.builder
Due: none

start use ruby 3.1
  .tool-versions
  Gemfile
  Gemfile.lock
Due: none

release
  source/posts/2021/12-27-podcast-09-50.html.md
Due: none

update
  Gemfile.lock
Due: none

release
  Gemfile.lock
  package.json
  source/images/static/10/1001.png
  source/posts/2022/01-10-podcast-10-01.html.md
  yarn.lock
Due: none

koala not support new faraday
  Gemfile
  Gemfile.lock
  lib/auto_blank_links_extension.rb
  lib/tasks/social_posts.rake
  lib/tasks/svg_sprite.rake
Due: rubocop

fix css
  gulpfile.js
Due: eslint

update packages
  .gitignore
  Gemfile.lock
  config.rb
  lib/rwpod_helpers.rb
  package.json
  webpack.config.js
  yarn.lock
Due: rubocop, eslint

update packages
  package.json
  webpack.config.js
  yarn.lock
Due: eslint

use manifest.webmanifest
  lib/rwpod_helpers.rb
  source/layouts/layout.html.erb
  source/manifest.json
  webpack.config.js
Due: rubocop, eslint

use manifest.webmanifest
  source/manifest.webmanifest
Due: none

change command
  package.json
Due: none

css extract
  webpack.config.js
Due: eslint

start use new helpers
  Gemfile
  Gemfile.lock
  config.rb
  lib/rwpod_helpers.rb
  source/layouts/layout.html.erb
Due: rubocop

update build
  source/layouts/layout.html.erb
  source/partials/_article.html.erb
Due: none

fix ld-usage
  source/layouts/layout.html.erb
  source/partials/_article.html.erb
Due: none

update deps
  Gemfile.lock
Due: none

Add tests for external pipeline helpers, more cases
  Gemfile.lock
Due: none

Update config
  config.rb
Due: rubocop

news
  source/images/static/10/1002.png
  source/posts/2022/01-17-podcast-10-02.html.md
Due: none

news
  source/posts/2022/01-17-podcast-10-02.html.md
Due: none

release
  source/posts/2022/01-17-podcast-10-02.html.md
Due: none
