Repository rwpod/rwpod.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: '*.{rb,rake}'
      run: bundle exec rubocop -c ./.rubocop.yml {staged_files}
    eslint:
      glob: '*.{js,jsx}'
      run: ./node_modules/.bin/eslint {staged_files}
    bundle-check:
      files: git diff --name-only HEAD master
      glob: '{Gemfile,Gemfile.lock,*.gemspec}'
      run: bundle check

news
  source/images/static/cafe/025.png
  source/posts/2021/09-04-cafe-025.html.md
  webpack/controllers/search_controller.js
Due: eslint

fixes
  webpack/controllers/search_controller.js
  webpack/utils/eventBus.js
Due: eslint

cleanup
  webpack/hotwire.js
Due: eslint

news
  source/images/static/09/0935.png
  source/posts/2021/09-06-podcast-09-35.html.md
Due: none

release
  source/posts/2021/09-06-podcast-09-35.html.md
Due: none

Migrate to yarn 2
  .github/workflows/deploy.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  Gemfile.lock
  package.json
  yarn.lock
Due: none

add cache
  .github/workflows/deploy.yml
  source/posts/2021/09-13-podcast-09-36.html.md
Due: none

add cache
  .github/workflows/deploy.yml
Due: none

news
  source/images/static/09/0936.png
  source/posts/2021/09-13-podcast-09-36.html.md
Due: none

release
  source/posts/2021/09-13-podcast-09-36.html.md
Due: none

update
  package.json
  yarn.lock
Due: none

migrate to new yarn 2
  .github/workflows/deploy.yml
Due: none

migrate to new yarn 2
  package.json
  yarn.lock
Due: none

fix svg sprite
  lib/rwpod_helpers.rb
Due: rubocop

update libs
  Gemfile.lock
  package.json
  yarn.lock
Due: none

update libs
  package.json
  yarn.lock
Due: none

news
  source/images/static/09/0937.png
  source/posts/2021/09-20-podcast-09-37.html.md
Due: none

release
  source/posts/2021/09-20-podcast-09-37.html.md
Due: none

news
  Gemfile.lock
  package.json
  source/posts/2021/09-27-podcast-09-38.html.md
  yarn.lock
Due: none

update stimulus
  babel.config.js
  package.json
  webpack/controllers/audio_controller.js
  webpack/controllers/disqus_controller.js
  webpack/controllers/navigation_controller.js
  webpack/controllers/search_controller.js
  webpack/controllers/service_worker_controller.js
  webpack/hotwire.js
  yarn.lock
Due: eslint

news
  source/posts/2021/09-27-podcast-09-38.html.md
Due: none

news
  package.json
  source/images/static/09/0938.png
  source/posts/2021/09-27-podcast-09-38.html.md
  yarn.lock
Due: none

release
  Gemfile.lock
  source/posts/2021/09-27-podcast-09-38.html.md
Due: none

update gems
  Gemfile.lock
Due: none

improve loading
  webpack/controllers/audio_controller.js
  webpack/controllers/search_controller.js
Due: eslint

update
  Gemfile.lock
  package.json
  yarn.lock
Due: none

release
  Gemfile.lock
  package.json
  source/images/static/cafe/026.png
  source/posts/2021/10-02-cafe-026.html.md
  yarn.lock
Due: none

update script
  lib/tasks/social_posts.rake
Due: rubocop

add news
  Gemfile.lock
  package.json
  source/images/static/09/0939.png
  source/posts/2021/10-04-podcast-09-39.html.md
  yarn.lock
Due: none

add LICENSE
  LICENSE
Due: none

release
  source/posts/2021/10-04-podcast-09-39.html.md
Due: none

remove memoizee
  package.json
  webpack/controllers/audio_controller.js
  webpack/controllers/disqus_controller.js
  webpack/controllers/search_controller.js
  yarn.lock
Due: eslint

remove memoizee
  webpack/utils/memoize.js
Due: eslint

update packages
  Gemfile.lock
  package.json
  yarn.lock
Due: none

news
  source/images/static/09/0940.png
  source/posts/2021/10-11-podcast-09-40.html.md
Due: none

release
  source/posts/2021/10-11-podcast-09-40.html.md
Due: none

fix release build
  gulpfile.js
Due: eslint

update tokens for facebook
  lib/tasks/social_posts.rake
Due: rubocop
