Repository rwpod/rwpod.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  run: bundle exec rubocop -c ./.rubocop.yml {staged_files}

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

move to turbo npm
  package.json
  vendors/turbo.es2017-esm.js
  webpack/hotwire.js
  yarn.lock
Due: eslint

update ruby and nodejs
  .github/workflows/deploy.yml
  .tool-versions
  Gemfile.lock
  package.json
  yarn.lock
Due: none

add purgecss
  config.rb
  gulpfile.js
  lib/rwpod_helpers.rb
  package.json
  webpack.config.js
  yarn.lock
Due: rubocop, eslint

update css
  webpack/css/app.sass
  webpack/css/objects/search.sass
  webpack/css/objects/subscribe.sass
  webpack/css/objects/svg_icons.sass
Due: none

update css
  gulpfile.js
Due: eslint

update css
  source/layouts/layout.html.erb
Due: none

use dynamic import for audio and search
  webpack/controllers/audio_controller.js
  webpack/controllers/search_controller.js
Due: eslint

use dynamic import for lunar engine
  webpack/controllers/search_controller.js
  webpack/utils/lunar-engine.js
Due: eslint

use dynamic import for lunar engine
  webpack.config.js
Due: eslint

some config optimization
  babel.config.js
Due: eslint

optimize terser
  webpack.config.js
Due: eslint

cleanup
  webpack.config.js
Due: eslint

news
  Gemfile.lock
  package.json
  source/images/static/09/0915.png
  source/posts/2021/04-19-podcast-09-15.html.md
  yarn.lock
Due: none

news
  package.json
  webpack/css/base/spaces.sass
  yarn.lock
Due: none

news
  source/posts/2021/04-19-podcast-09-15.html.md
Due: none

release
  source/posts/2021/04-19-podcast-09-15.html.md
Due: none

update
  source/posts/2021/04-19-podcast-09-15.html.md
Due: none

Path conditions:
  rubocop: any of: *.{rb,rake}
  eslint: any of: *.{js,jsx}
