Repository rwpod/rwpod.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  run: bundle exec rubocop -c ./.rubocop.yml {staged_files}

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

update webpack
  package.json
  webpack.config.js
  yarn.lock
Due: eslint

update webpack
  webpack.config.js
Due: eslint

use content cache
  webpack.config.js
Due: eslint

news
  Gemfile.lock
  package.json
  source/images/static/09/0906.png
  source/posts/2021/02-15-podcast-09-06.html.md
  yarn.lock
Due: none

news
  source/posts/2021/02-15-podcast-09-06.html.md
Due: none

release
  source/posts/2021/02-15-podcast-09-06.html.md
Due: none

update libs
  Gemfile.lock
  package.json
  yarn.lock
Due: none

news
  source/images/static/09/0907.png
  source/posts/2021/02-22-podcast-09-07.html.md
  webpack/audio.js
Due: eslint

release
  source/posts/2021/02-22-podcast-09-07.html.md
Due: none

news
  Gemfile.lock
  package.json
  source/images/static/09/0908.png
  source/posts/2021/03-01-podcast-09-08.html.md
  yarn.lock
Due: none

release
  source/posts/2021/03-01-podcast-09-08.html.md
Due: none

update deploy
  .github/workflows/deploy.yml
Due: none

podcast
  source/images/static/cafe/019.png
  source/posts/2021/03-06-cafe-019.html.md
Due: none

news
  source/images/static/09/0909.png
  source/posts/2021/03-08-podcast-09-09.html.md
Due: none

release
  source/posts/2021/03-08-podcast-09-09.html.md
Due: none

news
  source/images/static/09/0910.png
  source/posts/2021/03-15-podcast-09-10.html.md
  webpack.config.js
  webpack/sw.js
Due: eslint

release
  source/posts/2021/03-15-podcast-09-10.html.md
Due: none

add 1.5x srcset
  source/partials/_article.html.erb
  webpack/audio.js
Due: eslint

300 in archive
  source/feeds/archive.xml.builder
Due: none

fix
  lib/rwpod_helpers.rb
Due: rubocop

update libs
  babel.config.js
  package.json
  yarn.lock
Due: eslint

update libs
  yarn.lock
Due: none

news
  source/images/static/09/0911.png
  source/posts/2021/03-22-podcast-09-11.html.md
Due: none

Path conditions:
  rubocop: any of: *.{rb,rake}
  eslint: any of: *.{js,jsx}
