Repository rwpod/rwpod.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  run: bundle exec rubocop -c ./.rubocop.yml {staged_files}

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

release
  webpack/controllers/disqus_controller.js
Due: eslint

fix disqus_recommendations
  source/partials/_article_comments.html.erb
  webpack/controllers/disqus_controller.js
Due: eslint

fix disqus_recommendations
  webpack/css/components/layout.sass
  webpack/css/objects/search_box.sass
Due: none

fix disqus_recommendations
  webpack/css/objects/search_box.sass
Due: none

new hover
  webpack/css/objects/search_box.sass
Due: none

add aac rss
  source/api/podcasts.json.erb
Due: none

add aac rss
  source/layouts/layout.html.erb
Due: none

news
  source/images/static/09/0913.png
  source/posts/2021/04-05-podcast-09-13.html.md
Due: none

buttons a18y
  source/partials/_audio_info.html.erb
  source/partials/_footer_audio_player.html.erb
  source/partials/_search_block.html.erb
  source/partials/_sw_notification.html.erb
Due: none

release
  source/posts/2021/04-05-podcast-09-13.html.md
Due: none

update
  Gemfile.lock
  gulp/idv3.js
  package.json
  source/posts/2021/04-05-podcast-09-13.html.md
  yarn.lock
Due: eslint

use cue sheet
  gulp/idv3.js
  package.json
  yarn.lock
Due: eslint

update
  gulp/tags.js
  gulpfile.js
Due: eslint

update libs
  yarn.lock
Due: none

migrate to turbo
  lib/rwpod_helpers.rb
  package.json
  source/layouts/layout.html.erb
  source/partials/_footer_audio_player.html.erb
  source/partials/_sw_notification.html.erb
  vendors/turbo.es2017-esm.js
  webpack/controllers/audio_controller.js
  webpack/controllers/disqus_controller.js
  webpack/controllers/navigation_controller.js
  webpack/hotwire.js
  yarn.lock
Due: rubocop, eslint

remove image fallback
  source/layouts/layout.html.erb
  source/partials/_article.html.erb
Due: none

news
  Gemfile.lock
  package.json
  source/images/static/09/0914.png
  source/posts/2021/04-12-podcast-09-14.html.md
  yarn.lock
Due: none

release
  source/posts/2021/04-12-podcast-09-14.html.md
Due: none

Path conditions:
  rubocop: any of: *.{rb,rake}
  eslint: any of: *.{js,jsx}
