Repository rwpod/rwpod.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint

rubocop:
  run: bundle exec rubocop -c ./.rubocop.yml {staged_files}

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

update build
  webpack.config.js
Due: eslint

news
  Gemfile.lock
  package.json
  source/posts/2022/01-24-podcast-10-03.html.md
  yarn.lock
Due: none

news
  package.json
  source/images/static/10/1003.png
  source/posts/2022/01-25-podcast-10-03.html.md
  yarn.lock
Due: none

release
  source/posts/2022/01-25-podcast-10-03.html.md
Due: none

add webpack cache
  .github/workflows/deploy.yml
  .gitignore
  webpack.config.js
Due: eslint

update tenser settings
  Gemfile.lock
  assets/controllers/search_controller.js
  package.json
  webpack.config.js
  yarn.lock
Due: eslint

give cache name
  .github/workflows/deploy.yml
Due: none

update packages
  yarn.lock
Due: none

improve search speed
  assets/controllers/audio_controller.js
  assets/controllers/search_controller.js
  config.rb
  gulpfile.js
  package.json
  yarn.lock
Due: rubocop, eslint

news
  source/posts/2022/01-31-podcast-10-04.html.md
Due: none

news
  Gemfile
  Gemfile.lock
  source/images/static/10/1004.png
  source/posts/2022/01-31-podcast-10-04.html.md
Due: none

release
  source/posts/2022/01-31-podcast-10-04.html.md
Due: none

fix node_modules resolve
  webpack.config.js
Due: eslint

release
  source/images/static/cafe/028.png
  source/posts/2022/02-05-cafe-028.html.md
Due: none

typo
  source/posts/2022/02-05-cafe-028.html.md
Due: none

news
  .github/workflows/deploy.yml
  Gemfile.lock
  package.json
  yarn.lock
Due: none

news
  source/images/static/10/1005.png
  source/posts/2022/02-07-podcast-10-05.html.md
Due: none

new node
  .github/workflows/deploy.yml
  .tool-versions
  package.json
Due: none

new node GA
  .github/workflows/deploy.yml
Due: none

remove node_modules
  .yarnrc.yml
  Gemfile.lock
  assets/css/components/typography.css
  lefthook.yml
  package.json
  postcss.config.js
  yarn.lock
Due: eslint

news
  source/images/static/10/1006.png
  source/posts/2022/02-14-podcast-10-06.html.md
Due: none

release
  source/posts/2022/02-14-podcast-10-06.html.md
Due: none

release
  .tool-versions
  Gemfile.lock
  package.json
  source/images/static/10/1007.png
  source/posts/2022/02-21-podcast-10-07.html.md
  yarn.lock
Due: none

update paths
  webpack.config.js
Due: eslint

new packages
  Gemfile.lock
  package.json
  yarn.lock
Due: none

update deps
  Gemfile.lock
  package.json
  yarn.lock
Due: none

update nokogiri
  Gemfile.lock
  package.json
  yarn.lock
Due: none

up libs
  Gemfile.lock
  package.json
  yarn.lock
Due: none

up ruby
  .tool-versions
  Gemfile.lock
  package.json
  yarn.lock
Due: none

up codeql
  .github/workflows/codeql-analysis.yml
Due: none

new libs
  Gemfile.lock
  package.json
  yarn.lock
Due: none

improve bindings
  Gemfile.lock
  assets/controllers/audio_controller.js
  assets/controllers/disqus_controller.js
  assets/controllers/navigation_controller.js
  package.json
  yarn.lock
Due: eslint

update libs
  Gemfile.lock
  package.json
  yarn.lock
Due: none

update libs
  yarn.lock
Due: none

update ci
  .github/workflows/deploy.yml
  .tool-versions
Due: none

Path conditions:
  rubocop: any of: *.{rb,rake}
  eslint: any of: *.{js,jsx}
